@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  
  
}

main {
  width:  100%;
  padding: 20px;
  background-color: #297DC8;
  color: white;
  
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #232642;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  transition: all 0.7s;

  
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 17px;
  margin-left: -5px;
  
}

.logo {
  height: 40px;
  filter: invert(100%);
  margin-left: -5px;
  cursor: pointer;
}



/* .logo:hover {
  background: rgb(247, 247, 247);
  color: #000;
  transition: all 1s;
} */

.bars {
  display: flex;
  font-size: 45px;
  cursor: pointer;
  
  
}

.link {
  display: flex;
  color: #fff;
  padding: 25px 25px;
  gap: 20px;
  transition: all 0.7s;
  font-size: 20px;
  font-family: 'nunito';
  font-weight: 600;
  
}

.link:hover {
  background: #297DC8;
  color: #fff;
  transition: all 0.7s;
}

.active {
  background-color:#297DC8;
  color: #000;
}

.box-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color:#232642;
  margin-top: -20px;
  height: 60px;
  width: 100%;
  border-radius: 0 0 25px 25px;
  
}

.text {
  color: white;
  font-family: 'sono';
}

.box-pg {
  background-color: #232642;
  width: 280px;
  margin-top: 225px;
  padding: 45px;
  border-radius: 0 50px 0 50px;
}

.box-prtg2 {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: 25px;
  gap: 20px;
}

.box-prtg2 button {
  font-family: 'sono';
  font-size: 22px;
  border-radius: 5px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
}


.box-olt-all {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  font-family: 'sono';
}


.box-all {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 150px;
  
}


.box-olt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 20px;
  font-family: 'nunito';
  
  margin-top: 26px;
  background-color: #232642;
  width: 539px;
  border-radius: 10px;
  
  box-shadow: 10px 10px 10px black;
  padding: 20px;
  
}

.box-h2 h2{
  display: flex;
  align-items: center;
}


.box-olt-text {
  display: flex;
  
  flex-direction: column;
  
  gap: 18px;
  margin-left: 10px;
  
}